{% extends "base.html" %}



{% block nav %}

{% endblock %}

{% block content %}

<div class="container yakshheading yakshwell text-center wow animated fadeIn">
 
    <span class="yakshred h3">2500+</span> Students in <span class="yakshred h3">350+</span> Institutions across <span class="yakshred h3">16+</span> states in India are using ApproApp
    </br>
</div>
<div class="container">
    <div class="row yakshlabel text-center">
        <p class="yakshred h4">Online Test Interface for conducting online classes and quizzes.</p>
        <div class="col-md-7 text-left">            
            <ul class="h5">
                </br>
                <li class="wow animated fadeInRight">Define fairly complicated problems and have users
                solve the problem. </li>
                </br>
                <li class="wow animated fadeInRight" data-wow-delay="0.5s">Immediate verification of solution. </li>
                </br>
                <li class="wow animated fadeInRight" data-wow-delay="1s">Supports pretty much arbitrary questions in English Language and uses "test cases" to test the implementations of the students.</li>
                </br>
                <li class="wow animated fadeInRight" data-wow-delay="1.5s">Supports simple multiple choice questions and File uploads.</li>
                </br>
                <li class="wow animated fadeInRight" data-wow-delay="2s">Since it runs on your Python, you could technically test any Python based library.</li>
                </br>
                <li class="wow animated fadeInRight" data-wow-delay="2.5s">Scales to over 500+ simultaneous users.</li>
                </br>
            </ul>           
            
        </div>

        <div class="col-md-5">
            <div class="yakshwell">
                <div class="yakshwell">
                    <a href="{{URL_ROOT}}/exam/register/" class="btn btn-outline-primary col-md-11 " >New User? SIGN UP</a>
                </div>
                <hr>
        <form action="" method="post">
        {% csrf_token %}
          
        <center><table class="table table-borderless yakshheading yakshgreen table-responsive-sm">
        {{ form.as_table }}
        </table></center>
        <div class="row justify-content-center">
        <button class="col-4 btn btn-success" type="submit">Login</button><span class="col-1"></span>
        <a class="btn btn-primary col-4" href="{{URL_ROOT}}/exam/reset/forgotpassword/">Forgot Password?</a>
        </div>
        <hr>
         Login with 
        <a class="btn btn-social-icon btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
            <i class="fab fa-google"></i>
        </a>
        <a class="btn btn-social-icon btn-facebook"  href="{% url 'social:begin' 'facebook' %}">
            <i class="fab fa-facebook"></i>
        </a>
        </form>
        </div>
        </br>
        <div class="yakshred h4">
            Best platform you can find to learn</br> and to test your skills
        </div>
        </div>
        
    </div>

</div>     
<
{% endblock content %}


{% block footer %}
  <!--footer-->   
<br><br><br><br>
  <!--footer end-->
{% endblock %}