{% extends "base.html" %}
{% load custom_filters %}
{% block nav %}
<!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav  style="z-index: 200000; height: 100px;" class="navbar navbar-expand-lg navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                          <div class="collapse navbar-collapse col-md-6" id="myNavbar">
          <div class="nav nav-pills nav-fill ml-auto">
              <span class="time-div nav-item" id="time_left" ></span>
              <form id="logout" action="{{URL_ROOT}}/exam/quit/{{ paper.attempt_number }}/{{module.id}}/{{ paper.question_paper.id }}/{{course.id}}/" method="post" class="ml-auto">
              {% csrf_token %}
              <button class="nav-link  btn-danger" type="submit" name="quit">
                {% if paper.questions_unanswered.all %}
                  Quit {{ quiz_type }}
                {% else %}
                  Finish {{ quiz_type }}
                {% endif %}
              <span class="fa fa-power-off"></span></button>
              </form>
          </div>
      </div>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
              <a class="dropdown-toggle nav-link" id="user_dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.get_full_name|title}}</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{ URL_ROOT }}/exam/viewprofile/"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>  My Profile</a>
                <div class="dropdown-divider"></div>
                {% if user.profile.is_moderator %}
                <a class="dropdown-item" href="{{URL_ROOT}}/exam/toggle_moderator/"><i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                  Switch To Student
                </a>
                <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item" href="{{ URL_ROOT }}/exam/reset/changepassword/"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Change Password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" id="user_logout" href="{{URL_ROOT}}/exam/logout/"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout</a>
              </div>
            </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->








<!-- 

<div class="container-fluid yakshnav">
  <nav class="navbar fixed-top navbar-expand-lg yakshheading yakshnav">
    <div class="container">
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: white"></span>
      </button>
      <a class="navbar-brand">
          <img src="{{ URL_ROOT }}/static/yaksh/images/yaksh_banner.png" alt="YAKSH">
          </img>
       </a>    
      <div class="collapse navbar-collapse col-md-6" id="myNavbar">
          <div class="nav nav-pills nav-fill ml-auto">
              <span class="time-div nav-item" id="time_left" ></span>
              <form id="logout" action="{{URL_ROOT}}/exam/quit/{{ paper.attempt_number }}/{{module.id}}/{{ paper.question_paper.id }}/{{course.id}}/" method="post" class="ml-auto">
              {% csrf_token %}
              <span class="nav-item"><button class="nav-link  btn-danger" type="submit" name="quit">
                {% if paper.questions_unanswered.all %}
                  Quit {{ quiz_type }}
                {% else %}
                  Finish {{ quiz_type }}
                {% endif %}
              <span class="fa fa-power-off"></span></button></span>
              </form>
          </div>
      </div>
    </div>
  </nav>
</div>

 -->
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
      <!-- Side bar -->
      <div class="col-md-3 yakshlabel collapse" id="sidebar">
        <center>
          <b class="yakshheading">{{course.name}}</b><br>
          {{ paper.question_paper.quiz.description }}
          <hr>
        </center>
          <div class="yakshwell">            
              <p class="text-center">Question Navigator</p>
                <div>
                  {% for qid in paper.get_all_ordered_questions %}
                {%if paper.question_paper.quiz.allow_skip %}
                {% if qid in paper.get_questions_unanswered %}
                {% if qid.id == question.id %}
                <a class="active btn btn-outline-success " href="#"data-toggle="tooltip"
                    title="{{ qid.description|striptags }}"
                    onclick="call_skip('{{ URL_ROOT }}/exam/{{ question.id }}/skip/{{ qid.id }}/{{ paper.attempt_number }}/{{ module.id }}/{{ paper.question_paper.id }}/{{course.id}}/')">{{ forloop.counter }}</a>
                {% else %}
                <a class=" btn btn-outline-success " href="#" data-toggle="tooltip" title="{{ qid.description|striptags }}"
                    onclick="call_skip('{{ URL_ROOT }}/exam/{{ question.id }}/skip/{{ qid.id }}/{{ paper.attempt_number }}/{{ module.id }}/{{ paper.question_paper.id }}/{{course.id}}/')">{{ forloop.counter }}</a>
                {% endif %}
                {% endif %}
                {% if qid in paper.get_questions_answered %}
                <a class="btn btn-outline-light question-nav-bg" href="#" data-toggle="tooltip"
                onclick="call_skip('{{ URL_ROOT }}/exam/{{ question.id }}/skip/{{ qid.id }}/{{ paper.attempt_number }}/{{ module.id }}/{{ paper.question_paper.id }}/{{course.id}}/')"
                title="{{ qid.description }}">{{ forloop.counter }}</a>
                {% endif %}
                {% else %}
                {% if qid.id == question.id %}
                <a class="active btn btn-outline-success" data-toggle="tooltip" title="{{ qid.description|striptags }}">{{ forloop.counter }}</a>
                {% elif qid in paper.get_questions_answered %}
                <a class="btn btn-outline-success question-nav-bg" href="#" data-toggle="tooltip"
                onclick="call_skip('{{ URL_ROOT }}/exam/{{ question.id }}/skip/{{ qid.id }}/{{ paper.attempt_number }}/{{ module.id }}/{{ paper.question_paper.id }}/{{course.id}}/')"
                title="{{ qid.description }}">{{ forloop.counter }}</a>
                {% else %}
                <a class="disabled btn btn-outline-success " data-toggle="tooltip" title="{{ qid.description|striptags }}">{{ forloop.counter }}</a>
                {% endif %}
                {% endif %}
                {% endfor %}
                </div>
                <br>
          <p class="text-center">Question(s) left: <b>{{ paper.questions_left }}</b></p>
          </div>
          <br>
          <table class = "legend_table table-bordered table-sm">
            <thead>
              <tr>
                <th>Category</th>
                <th>Question No.</th>
              </tr>
            </thead>
            <tbody>
              {% for category, question_number in paper.get_categorized_question_indices.items %}
              <tr>
                <td>
                  {{category}}
                </td>
                <td>
                  {{question_number| join:", "}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div> <!--end of sidebar -->
      <a href="#sidebar" data-toggle="collapse" id="sidebaricon"><i class="fa fa-navicon fa-lg"></i></a>

      <main class="col" id="sidebarbody">
        <div class="container-fluid yakshwell">
          
            {% block main %}
            {% endblock %}
        </div>
      </main>
  </div>
</div>

{% endblock %}

{% block footer %}
<br><br><br>
  <!--footer end-->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>{% if user %}
         {% block info %}
         <b>{{user.get_full_name|title}}</b> with Identity No. <b>{{user.profile.roll_number}}</b> is logged in as <b>{{user.username}}</b>
         {% endblock %}
         {% endif %}</span>
         <br>
         <span>Copyright &copy; ApproApp 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}